/*TODO CSS cleanup*/
:root {
  --em-background-gray: #080c10;
  --em-darker-gray: #181c1f;
  --em-dark-gray: #101214;
  --em-light-gray: #282f35;
  --em-soft-gray: #5d6770;

  --em-darker-green: #2b7200;
  --em-dark-green: #24b437;
  --em-light-green: #22e973;
  --em-soft-green: #7effb3;

  --em-red: #eb4444;
  --em-yellow: #f2c43d;
  --em-blue: #4473eb;
}

/* semantic color variables for this project */
:root {
  .bg-em-main {
    background-color: var(--em-background-gray);
  }

  /* Gray Backgrounds */
  .bg-em-gray-darker {
    background-color: var(--em-darker-gray);
  }

  .bg-em-gray-dark {
    background-color: var(--em-dark-gray);
  }

  .bg-em-gray-light {
    background-color: var(--em-light-gray);
  }

  .bg-em-gray-soft {
    background-color: var(--em-soft-gray);
  }

  /* Hover Gray Backgrounds */
  .hover\:bg-em-gray-darker {
    &:hover {
      @media (hover: hover) {
        background-color: var(--em-darker-gray);
      }
    }
  }

  .hover\:bg-em-gray-dark {
    &:hover {
      @media (hover: hover) {
        background-color: var(--em-dark-gray);
      }
    }
  }

  .hover\:bg-em-gray-light {
    &:hover {
      @media (hover: hover) {
        background-color: var(--em-light-gray);
      }
    }
  }

  .hover\:bg-em-gray-soft {
    &:hover {
      @media (hover: hover) {
        background-color: var(--em-darker-soft);
      }
    }
  }

  /* Green Backgrounds */
  .bg-em-green-darker {
    background-color: var(--em-darker-green);
  }

  .bg-em-green-dark {
    background-color: var(--em-dark-green);
  }

  .bg-em-green-light {
    background-color: var(--em-light-green);
  }

  .bg-em-green-soft {
    background-color: var(--em-soft-green);
  }

  /* Green Borders */
  .bd-em-green-dark {
    border-color: var(--em-dark-green);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

* {
  color: white;
}

body {
  background-color: var(--em-background-gray);
}
